.algorithmtitlebar {
    position: absolute;
    width: 26.5vw;
    height: 2.7vh;
    left: 3.9vw;
    top: 92.9vh;
}

.algorithmbar {
    position: absolute;
    width: 26.5vw;
    height: 2.7vh;
    left: 30.4vw;
    top: 96.9vh;
}